.trends-container {
  max-width: 900px;
  margin: 0 auto;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.summary p {
  margin: 0;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
}

.chart-container {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 8px black;
  margin-bottom: 2rem;
}

.chart-container h2 {
  margin-top: 0;
  color: #333;
  border-bottom: 1px solid white;
  padding-bottom: 0.8rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
  .summary {
    flex-direction: row;
    justify-content: space-between;
  }

  .summary p {
    flex: 1;
  }
}